<section class="border rounded-2 p-4">
  <%= render "flickr_form" %>
</section>
<section class="mt-5">
  <% if @photos.empty? %>
    <%= render "no_photos" %>
  <% else %>
    <h2><%= pluralize(@photos.length , 'Photo') %></h2>
    <hr>
    <%= render "gallery", photos: @photos %>
  <% end %>
</section>